body{
  margin: 0;
  padding: 0;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 15vh 85vh;

}
.title{
  grid-row: 1;
  grid-column: 1;
  border-right:solid ;
  border-color: #D6D6D6;
  border-width: 2px;
}

.header{
  grid-row: 1;
  grid-column: 2;
  border-bottom: solid;
  border-color: #D6D6D6;
  border-width: 2px;
}
.nav{
  grid-row: 2;
  grid-column: 1;
  border-right:solid ;
  border-color: #D6D6D6;
  border-width: 2px;
}
.main{
  grid-row: 2;
  grid-column: 2;
}

.footer{
  background-color: #9ca3af;
  width: 100%;
  position: fixed;
  bottom: 0;
}
