.search-container{
  border-radius: 100px;
  display: flex;
  gap: 3%;
  display: flex;
  justify-content: center; /* Centers items along the main axis */
}

.search-label{
  color: #000000;
  font-weight: bold;
}

#search-input{
  border-radius: 50px;
  border: 01px solid #ccc;
  padding: 2% 15% 2% 5%;
  background-color: #F0F0F0;
  outline: none;
;
}
