.footer{
  background-color: #E9E9E9;
  padding: 0.5%;
  margin: 0;
}

.footer-container{
  display: grid;
  grid-template-columns: 10vh 20vh 30vh 50vh;
}

.footer-logo{
  grid-column: 1;
  margin-left: 0;
  font-family: "Calibri";
}

.footer-copy{
  grid-column: 2;
  text-align: left;
}

.footer-links{
  grid-column: 3;
  display: flex;
  gap: 4%;


  a{
    text-decoration: none;
    color: #000000;
  }
}
